<odoo>
    <data>
        <menuitem id="main_odoo" name="Menú Nivel 0 de Odoo Básico" sequence="5"/>
        <menuitem id="menu_informacion" name="Menú Nivel 1 de informacion" parent="main_odoo" action="informacion_list_action"/>
        <menuitem id="menu_suceso" name="Menú Nivel 1 de suceso" parent="main_odoo" action="suceso_list_action"/>
    </data>
</odoo>